*{margin: 0; padding: 0;}
.slider {
	width: 1200px;
	margin: 250px auto;
}
.slider .slick-slide> div{
	margin: 70px;
}
.slider .slick-slide div img{
	display: block;
	width: 100%;
}

/* 가운데 박스 꾸미기 */
.slider .slick-current> div{
	margin: 8px 8px;
	position: relative;
	transition: all 1s;
}


/*이동버튼 꾸미기*/
.slider .slick-prev:before, 
.slider .slick-next:before{
	content:'';/*원래 버튼 없애기*/
}
.slider .slick-prev, 
.slider .slick-next{
	width:39px;
	height:60px;
}
.slider .slick-prev{
	background:url(../images/icon_left2.png) no-repeat;
	left:-50px;
}
.slider .slick-prev:hover{
	background:url(../images/hover_icon_left.png) no-repeat;
}
.slider .slick-next{
	background:url(../images/icon_right2.png) no-repeat;
	right:-50px;
}
.slider .slick-next:hover{
	background:url(../images/hover_icon_right.png) no-repeat;
}

/*블릿버튼 꾸미기*/
.slick-dots li button::before{
	content: '';/*원래 버튼 없애기*/
}
.slider .slick-dots li button{
	width:10px;
	height:10px;
	padding: 0;
	background:#858585;
	border-radius:50%;
	opacity: 0.7;
}
.slider .slick-dots li.slick-active button{
	background:#565656;
	opacity:1;
}